nav { 
    background-color:rgb(226, 225, 130);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    position:sticky;
    top:0;
    z-index: 100;
}
.Link{
    color:rgb(51, 102, 122);
    text-decoration:none;
    margin: 0px 30px;
    font-weight: 600;
}
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
.setBackgroundImage{
    background-image:url("./src/images/original-d70f56c4e89c6ed97beb46db510c213d.jpg");
    margin: 0;
    padding: 0;
    height:90vh;
    
    z-index: 1;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teachingCategoriesList{
    list-style:none;
}
fieldset{
    border-radius: 10px;
}